.bg_color {
    background: rgb(200, 226, 235) !important;
}

.login-bg {
    margin: 0px;
    background-image: repeating-radial-gradient( #c6dce7, #b9dbec);
    /* background: url(/img/technology-background.avif) top no-repeat; */
    background-size: cover;
}