body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
.navbar 
{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.nav-link
{
    margin-left: 100px;
    margin-top: 30px;
}
.nav-link li 
{
    display: inline-block;
    padding: 5px 20px;
}
a, .nav-link a 
{
    text-decoration: none;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
}

@media only screen and (min-width:280px) and (max-width:480px) {

    .navbar-brand
    {
        padding: 5px;
    }
    .nav-link
{
    margin-left: 10px;
    margin-top: 10px;
}
    .nav-link li 
    {
        display: block;
    }
    
}
.dropdown-menu {
    background-color: #2124b1 !important;
    border: 1px solid white;
}