
body {
  /* background-color: #bdd8f0; */
  background-color: #222233;
  font-family: Work Sans,sans-serif;
  font-size: 17px;  
  color: #AACCFF;  
  overflow-x: hidden;
  box-sizing: border-box;
}


