.register_form {
	width: 400px;
	height: 500px;
	background-color: #0979a5;
	padding: 20px 0px 0px 50px;
	box-sizing: border-box;
	margin-left: 50px;
}
.btn {
	background-color: #0979a5; 
	color:white; 
	font-size: 18px;
	margin-top: 15px;
	width: 200px;
	height: 40px;
}
 input, select {
 	margin-top: 20px;
 	background-color: ghostwhite;
	border-radius: 4px;
	border-color: blue;
	font-size: 20px;
	color: #053328;
 }